// stylelint-disable declaration-no-important
.text-center {
  text-align: center !important;
}
.bg-color-white {
  background: #ffffff !important;
}
.bg-color-black {
  background: #000000 !important;
}
.hide {
  display: none !important;
  visibility: hidden !important;
}
